body{
    font-family: 'Work Sans', sans-serif;
}

.img-responsive{
    max-width: 100%;
}

.hero_image{
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    /* background-image: url(photo-1498579150354-977475b7ea0b.jfif) no-repeat; */
    -webkit-background-size: cover;
    background-size: cover;
    height: 100vh;
    position: relative;
}

.hero_wrapper{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero_wrapper h1{
    font-size: 2.4rem;
    text-align: center;
}

.hero_wrapper span{
    margin-left: 5rem;
    display: inline-block;
    margin-bottom: 1rem;
}

.form-code{
    text-align: center;
}

.form-code .post-code{
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2rem;
    padding: .6rem;
    border: none;
    outline: none;
}

.form-code button{
    width: 40%;
    text-align: center;
    background-color: teal;
    color: white;
    padding: .6rem auto 0rem;
    margin: 1rem;
    border: none;
    border-radius: .3rem;
}

/* Product section */

.product{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.product-list-item{
    float: left;
    width: 32%;
    margin-left: .5rem;
}
.product-list-item:first-of-type{
    margin-left: 0;
}

@media screen and (max-width:700px) {
    .product-list-item {
        width: 100%;
        float: none;
    }
}